* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
}

.nav {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  height: 60px;
  border-bottom: 2px solid gray;
}

.nav h1 {
  font-size: 2vw;
  font-weight: 800;
  color: #ff745c;
}

.nav2 {
  display: flex;
  gap: 4vw;
  align-items: center;
}

.nav2 h4 {
  font-size: 1vw;
  font-weight: 550;
}

.nav2 i {
  font-style: 2vw;

  display: none;
}

.nav2 button{
  background-color: #ff745c;
  padding: .5vw 1vw;
  font-size: 1vw;
  font-weight: 800;
  border-radius: 5px;
  color: aliceblue;
  border: none;
}



.content {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  /* background-color: burlywood; */
}

.red {
  width: 55%;
  height: 100%;
  /* background-color: rgb(172, 20, 96); */
  padding: 9vw 4vw;
}

.red p {
  /* color: aliceblue; */
  margin: 4vh 0vh;
}
.red button{
  background-color: #ff745c;
  padding: 1vw 2vw;
  font-size: 1.5vw;
  font-weight: 800;
  border-radius: 5px;
  color: aliceblue;
  border: none;
}

.blue {
  width: 45%;
  height: 100%;
  /* background-color: rgb(23, 8, 161); */
}

.blue img{
  width: 80%;
  height: 90%;
}

@media (max-width: 600px) {
  .nav {
    padding: 0 2.5vw;
  }
  .nav h1 {
    font-size: 4vw;
  }

  .nav2 h4 {
    display: none;
    font-size: 2.5vw;
  }
  .nav2 i {
    display: block;
    font-style: 2vw;
  }
}
